/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: #333; /* Warna gelap */
    color: #fff; /* Warna teks putih */
    font-family: Arial, sans-serif; /* Mengganti font */
    margin: 0;
    padding: 0;
}
/* Container styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
header {
    padding: 20px;
    background-color: #444; /* Warna lebih gelap untuk header */
    color: #eee; /* Warna teks yang lebih cerah */
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation styling */
nav {
    margin: 20px 0;
    background: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content styling */
main {
    margin: 20px 0;
}

main h2 {
    margin-bottom: 10px;
    color: #333;
}

main p {
    margin-bottom: 20px;
}

/* Footer styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Penyesuaian tata letak item */
.item-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Membuat tiga kolom */
    gap: 10px;
    padding: 20px;
}

.item-card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: #0c0c0c;
}

.item {
    background-color: #555; /* Warna gelap untuk item */
    border: 1px solid #666; /* Border untuk item */
    padding: 10px;
    border-radius: 5px; /* Membulatkan sudut */
}

/* Mengatur tata letak gambar */
.item img {
    width: 100%; /* Menyesuaikan lebar gambar dengan container */
    height: auto; /* Menjaga aspek rasio gambar */
    border-bottom: 1px solid #666; /* Membuat border di bawah gambar */
}

/* Mengatur posisi tombol logout */
#logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #d9534f; /* Warna merah */
    color: #fff; /* Warna teks putih */
    text-decoration: none; /* Menghapus underline dari link */
    border: none;
    border-radius: 5px; /* Membulatkan sudut */
}

/* Mengatur tata letak tombol add */
#add-item-button {
    padding: 5px 10px;
    background-color: #5cb85c; /* Warna hijau */
    color: #fff; /* Warna teks putih */
    text-decoration: none; /* Menghapus underline dari link */
    border: none;
    border-radius: 5px; /* Membulatkan sudut */
    margin-bottom: 20px; /* Menambahkan margin di bawah */
}

#register-button {
    padding: 5px 10px;
    background-color: #5538d6; /* Warna hijau */
    color: #fff; /* Warna teks putih */
    text-decoration: none; /* Menghapus underline dari link */
    border: none;
    border-radius: 5px; /* Membulatkan sudut */
    margin-bottom: 20px; /* Menambahkan margin di bawah */
}