{% extends 'base.html' %}
{% block content %}
<h1>Sigmart</h1>

<h3>Selamat Datang</h3>
<p><strong>{{ name }}</strong><p>

{% if not item_entries %}
<p>Belum ada data item pada e-commerce Sigmart.</p>
{% else %}
<div class="item-grid"></div>
<table>
  {% for item in item_entries %}
  <div class="item-card">
    <h3>{{ item.item_name }}</h3>
    <p><strong>Time:</strong> {{ item.time }}</p>
    <p><strong>Description:</strong> {{ item.description }}</p>
    <p><strong>Price:</strong> {{ item.price }}</p>
    <p><strong>Type:</strong> {{ item.type }}</p>
  </div>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:add_item_entry' %}" id="add-item-button">Add Item</a>

<a href="{% url 'main:logout' %}" id="logout-button">Logout</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}